@import 'inc/normalize';
@import 'inc/functions';
@import 'inc/colors';
@import 'inc/typography';
@import 'inc/mixins';
@import 'inc/buttons';
@import 'inc/breadcrumbs';
@import 'inc/accordion';
@import 'inc/pagination';

.no-scroll {
  position: relative;
  overflow-y: hidden;
}

.scroll-on {
  visibility: visible;
  overflow-y: auto;
  opacity: 1;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  height: 100%;
}

body {
  background-color: $grey-default;
  color: $white;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  height: 100%;
  width: 100%;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;

  &::-webkit-scrollbar {
    background-color: $grey-coal;
    width: pxToRem(4px);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey-light;
    border-radius: pxToRem(2px);
  }

  &.scrolled {
    .header {
      background-color: $grey-coal;
      padding: pxToRem(15px) 0;
    }
  }
}

ul {
  font-size: pxTorem(16px);
  line-height: pxTorem(24px);

  @media screen and (max-width: 991px) {
    font-size: pxToRem(14px);
    line-height: pxToRem(20px);
  }

  @media screen and (max-width: 539px) {
    font-size: pxToRem(12px);
    line-height: pxToRem(14px);
  }
}

// Main container.

.main {
  &__container {
    width: 100%;
    margin: 0 auto;
    max-width: pxToRem(1364px);
    width: calc(100% - pxToRem(60px));

    &-son {
      padding-top: pxToRem(170px);

      @media screen and (max-width: 767px) {
        padding-top: pxToRem(134px);
      }

      @media screen and (max-width: 539px) {
        padding-top: pxToRem(100px);
      }
    }

    @media screen and (max-width: 991px) {
      width: calc(100% - pxToRem(150px));
    }

    @media screen and (max-width: 767px) {
      width: calc(100% - pxToRem(80px));
    }

    @media screen and (max-width: 599px) {
      width: calc(100% - pxToRem(30px));
    }
  }

  &__wrapper {
  }
}

@keyframes leftright {
  0%,
  20% {
    transform: translateX(0%);
    left: 0%;
  }

  80%,
  100% {
    transform: translateX(calc(180px - 100%));
    left: 100%;
  }
}

//Global Content Texts
.global {
  &__content {
    &-date {
      font-size: pxToRem(14px);
      line-height: pxToRem(24px);
      margin-bottom: pxToRem(12px);
      color: $grey-light;
    }
  }
}

// Top navigation.

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: pxToRem(30px) 0;
  width: 100%;
  z-index: 9999;
  @include transition-default;

  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    > img {
      @include logo-img;
    }
  }

  .navigation {
    > ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 0;

      > li {
        position: relative;
        list-style-type: none;

        &:not(:last-child) {
          margin-right: pxToVw(40px);
        }

        > a {
          color: $white;
          @include link-pass;
        }

        &.dropdown-container {
          padding-top: pxToRem(24px);
          padding-bottom: pxToRem(24px);
          margin-top: pxToRem(-24px);
          margin-bottom: pxToRem(-24px);
          box-sizing: border-box;
          // perspective: 200px;

          .dropdown {
            position: absolute;
            top: 100%;
            left: 50%;
            border-radius: pxToRem(16px);
            box-shadow: pxToRem(5px) pxToRem(10px) pxToRem(30px) rgba(0, 0, 0, 0.2);
            visibility: hidden;
            pointer-events: none;
            background-color: $white;
            opacity: 0;
            transform: translate(-50%, pxToRem(15px)) rotateX(-5deg) scale(0.9);
            padding: pxToRem(35px) pxToRem(30px);
            @include transition-default;
            max-width: 200px;

            &::before {
              position: absolute;
              top: pxToRem(-6.5px);
              left: 50%;
              content: '';
              background-image: url('../../../assets/images/svg/dropdown-triangle.svg');
              transform: translateX(-50%);
              height: pxToRem(7px);
              width: pxToRem(25px);
            }

            > li {
              position: relative;
              list-style-type: none;
              overflow: hidden;

              &.overflow {
                &::after {
                  position: absolute;
                  top: 0;
                  right: pxToRem(-1px);
                  content: '';
                  background: linear-gradient(
                    90deg,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(255, 255, 255, 0.75) 50%,
                    rgba(255, 255, 255, 1) 100%
                  );
                  height: 100%;
                  width: pxToRem(30px);
                }

                > a {
                  &:hover {
                    animation: leftright 3s infinite alternate ease-in-out;
                  }
                }
              }

              > a {
                display: block;
                color: $grey-coal;
                @include strong-middle;
                white-space: nowrap;
                text-overflow: ellipsis;

                @media screen and (min-width: 1200px) {
                  @include transition-default;

                  &:hover {
                    color: $grey-light;
                    margin-left: 3px;
                  }
                }
              }

              &:not(:last-child) {
                margin-bottom: pxToRem(18px);
              }
            }
          }

          @media screen and (min-width: 1200px) {
            &:hover {
              .dropdown {
                visibility: visible;
                pointer-events: all;
                opacity: 1;
                transform: translate(-50%, 0) rotateX(0deg) scale(1);
              }
            }
          }

          &.shown {
            > a {
              &:before {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                content: '';
                background-color: $grey-light;
                transform: translateY(pxToRem(8px));
                width: 100%;
                height: pxToRem(2px);
              }
            }
          }
        }
      }
    }

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &__sub {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > .lang-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 0;
        margin-right: pxToVw(40px);

        > li {
          position: relative;
          list-style-type: none;

          &:not(:last-child) {
            &::after {
              position: relative;
              content: '/';
              color: $grey-smog;
              margin: 0 pxToRem(10px);
            }
          }

          > a {
            color: $white;
            font-weight: bold;
          }

          &:not(.current) {
            > a {
              @include link-pass;
            }
          }

          &.current {
            > a {
              color: $grey-light;
            }
          }
        }
      }

      @media screen and (max-width: 991px) {
        display: none;
      }
    }

    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  .btn__hamburger {
    display: none;

    @media screen and (max-width: 991px) {
      display: block;
    }
  }

  .btn__bordered {
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      padding: 11px;
    }

    .icon-svg-question {
      display: none;
    }

    > span {
      display: block;
    }

    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .icon-svg-question {
        display: block;
        fill: $white;
        max-height: pxToRem(24px);
        max-width: pxToRem(24px);
      }

      > span {
        display: none;
      }
    }
  }
}

// Sections.

.section {
  // Section Hero (Home page).

  &__hero {
    background-color: $grey-coal;
    background-image: url(https://txtrs.ru/textures/marble/marble-11-6.jpg);
    background-blend-mode: color-dodge;
    // padding-top: pxToRem(250px);
    // height: pxToRem(850px);

    .heading {
      &__home-hero {
        margin: 0;
        padding-top: pxToRem(200px);
        max-width: pxToRem(468px);

        @media screen and (max-width: 1199px) {
          padding-top: pxToRem(180px);
        }

        @media screen and (max-width: 991px) {
          padding-top: pxToRem(140px);
        }

        @media screen and (max-width: 539px) {
          padding-top: pxToRem(100px);
          max-width: 300px;
        }
      }

      &__sub {
        color: $grey-light;
        margin-bottom: pxToRem(40px);

        @media screen and (max-width: 539px) {
          margin-bottom: pxToRem(22px);
        }
      }
    }

    .cols {
      display: -ms-grid;
      display: grid;
      -ms-grid-column: 0.2fr auto;
      grid-template-columns: 0.2fr auto;

      > .col {
        .block {
          &__contacts {
            @media screen and (max-width: 1199px) {
              padding-top: pxToRem(250px);
            }

            @media screen and (max-width: 1023px) {
              padding-top: pxToRem(220px);
            }

            @media screen and (max-width: 991px) {
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              align-items: flex-end;
              border-left: none;
              text-align: right;
              padding-top: pxToRem(25px);

              > .col {
                border-left: none;
                border-right: pxToRem(2px) solid $grey-light;
                padding-left: 0;
                padding-right: pxToRem(25px);
              }
            }

            @media screen and (max-width: 653px) {
              display: none;
            }
          }
        }

        .hero-image {
          background-image: url('../../assets/images/hero-image.png');
          background-size: 100%;
          background-position: right bottom;
          background-repeat: no-repeat;
          min-height: pxToRem(820px);

          @media screen and (max-width: 1199px) {
            background-size: 70%;
            background-position: center bottom;
            min-height: unset;
            padding-top: 60%;
          }

          @media screen and (max-width: 991px) {
            background-size: 80%;
            background-position: calc(50% - pxToRem(20px)) bottom;
            min-height: unset;
            padding-top: calc(62% + pxToRem(40px));
          }

          @media screen and (max-width: 539px) {
            background-size: 100%;
            background-position: calc(50% - pxToRem(13px)) bottom;
            min-height: unset;
            padding-top: calc(75% + pxToRem(40px));
          }
        }
      }

      @media screen and (max-width: 1199px) {
        -ms-grid-column: 1fr;
        grid-template-columns: 1fr;

        .col-text {
          display: -ms-grid;
          display: grid;
          -ms-grid-column: repeat(2, 1fr);
          grid-template-columns: repeat(2, 1fr);
          column-gap: pxToRem(40px);
        }
      }

      @media screen and (max-width: 539px) {
        .col-text {
          -ms-grid-column: 85% auto;
          grid-template-columns: 85% auto;
        }
      }

      @media screen and (max-width: 411px) {
        .col-text {
          -ms-grid-column: 85% auto;
          grid-template-columns: 85% auto;
        }
      }
    }
  }

  // Section Shortly about.

  &__shortly-about {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      content: '';
      background-color: $grey-coal;
      background-image: url(https://txtrs.ru/textures/marble/marble-11-6.jpg);
      background-blend-mode: color-dodge;
      z-index: -1;
      height: 50%;
      width: 100%;
    }
  }

  &__trigger {
    position: relative;
    margin-top: pxToRem(140px);

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      background-color: $grey-dark;
      background-image: url(https://txtrs.ru/textures/marble/marble-11-6.jpg);
      background-blend-mode: color-dodge;
      z-index: -1;
      height: 50%;
      width: 100%;
    }

    .reception-girl {
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      margin-left: pxToRem(100px);
      max-height: pxToRem(488px);
      z-index: 1;

      &__wrapper {
        position: absolute;
        top: calc(pxToRem(-118px) / 2);
        left: 50%;
        border: pxToRem(7px) solid $grey-light;
        border-radius: 50%;
        background-color: $white;
        overflow: hidden;
        min-height: pxToRem(94px);
        transform: translateX(-50%);
        width: pxToRem(94px);
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
        z-index: 1;

        .reception-girl {
          position: absolute;
          top: 0;
          left: 0;
          margin-top: pxToRem(-10px);
          margin-left: pxToRem(-2px);
          max-height: pxToRem(115px);
        }
      }
    }
  }

  &__singlepage {
    .thumbnail__parent {
      min-width: pxToRem(429px);

      @media screen and (max-width: 991px) {
        max-width: 213px;
        min-width: 0;
        float: left;
        margin-right: pxToRem(30px);
        margin-bottom: pxToRem(10px);
      }

      @media screen and (max-width: 539px) {
        min-width: 100%;
        float: none;
        margin-bottom: 20px;
      }

      img {
        width: 100%;
        display: block;
        max-height: pxToRem(275px);
        border-radius: 1rem;
      }
    }

    .btn.btn__bordered-white {
      display: block;
      margin: 0 auto;
      margin-top: pxToRem(30px);
    }

    .singlepage {
      &__wrapper {
        display: flex;
        gap: 2.5rem;
        margin-top: pxToRem(60px);
        margin-bottom: pxToRem(60px);

        @media screen and (max-width: 991px) {
          display: block;
        }

        &-window {
          background-color: $grey-smog;
          border-radius: pxToRem(30px);
          padding: pxToRem(60px);
          margin-bottom: pxToRem(100px);

          @media screen and (max-width: 767px) {
            margin-bottom: pxToRem(80px);
          }

          @media screen and (max-width: 539px) {
            padding: pxToRem(50px);
            margin-bottom: 50px;
          }
        }
      }

      &__content {
        margin-bottom: pxToRem(40px);

        @media screen and (max-width: 539px) {
          margin-bottom: 30px;
        }

        &-title {
          margin-bottom: pxToRem(30px);
        }

        &-text,
        &-item {
          @include basic-text;
        }

        &-text {
          @media screen and (max-width: 991px) {
            font-size: pxToRem(14px);
            line-height: pxToRem(20px);
          }

          @media screen and (max-width: 539px) {
            font-size: pxToRem(12px);
            line-height: pxToRem(14px);
          }
        }

        &-item {
          position: relative;
          padding-left: pxToRem(30px);

          &:after {
            background-image: url('../images/svg/done.svg');
            background-repeat: no-repeat;
            background-position: center;
            height: 13px;
            width: 16px;
            position: absolute;
            content: '';
            left: 0;
            top: 3px;
          }
        }

        h4 {
          margin-bottom: pxToRem(30px);
        }
      }
    }
  }

  &__article {
    .singlepage__wrapper {
      display: block;
    }

    .thumbnail__parent,
    .thumbnail__parent.right {
      margin-bottom: 1rem;

      @media screen and (max-width: 991px) {
        margin-bottom: 0.7rem;
      }

      @media screen and (max-width: 539px) {
        margin-bottom: pxToRem(30px);
      }
    }

    .thumbnail__parent {
      float: left;
      margin-right: 2.5rem;

      @media screen and (max-width: 991px) {
        margin-right: 1.5rem;
      }

      &.right {
        float: right;
        margin-right: 0;
        margin-left: 2.5rem;

        @media screen and (max-width: 991px) {
          margin-left: 1.5rem;
        }
      }
    }

    .about__content-list {
      font-size: pxTorem(16px);
      line-height: pxTorem(24px);

      @media screen and (max-width: 991px) {
        font-size: pxToRem(14px);
        line-height: pxToRem(20px);
      }

      @media screen and (max-width: 539px) {
        font-size: pxToRem(12px);
        line-height: pxToRem(14px);
      }
    }
  }

  &__articles {
    .singlepage__wrapper.articles__wrapper {
      margin-top: 0;

      @media screen and (max-width: 991px) {
        margin-bottom: pxToRem(60px);
      }

      @media screen and (max-width: 539px) {
        margin-bottom: pxToRem(30px);
      }

      @media screen and (min-width: 992px) {
        display: block;
      }
    }

    .articles__content {
      &-inner {
        @media screen and (min-width: 992px) {
          display: flex;
          gap: pxToRem(40px);
          margin-bottom: pxToRem(80px);
        }

        @media screen and (max-width: 991px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: pxToRem(29px);
          margin-bottom: pxToRem(60px);
        }

        @media screen and (max-width: 539px) {
          margin-bottom: 0;
        }

        .thumbnail__parent {
          @media screen and (max-width: 991px) {
            min-width: 100%;
          }

          @media screen and (max-width: 539px) {
            margin-bottom: 0;
          }
        }
      }

      &-mobile {
        color: $white;
        margin-bottom: pxToRem(30px);

        @media screen and (min-width: 540px) {
          display: none;
        }
      }
    }

    .singlepage__content {
      margin-bottom: 0;

      p,
      a {
        @media screen and (max-width: 539px) {
          display: none;
        }
      }
    }
  }

  &__reviews {
    .block__services {
      margin-top: pxToRem(40px);
      margin-bottom: pxToRem(40px);

      @media screen and (max-width: 539px) {
        grid-template-columns: repeat(2, 1fr);
      }

      .services {
        &__item {
          > a {
            .thumbnail {
              &__parent {
                position: relative;
              }
            }

            @media screen and (min-width: 1200px) {
              &:hover {
                @include reviews-style;
              }
            }

            @media screen and (max-width: 991px) {
              @include reviews-style;
            }
          }
        }
      }
    }
  }

  &__contacts {
    padding: 0;

    .contacts {
      &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: pxToRem(40px);
        margin-top: pxToRem(60px);

        @media screen and (max-width: 991px) {
          display: block;
        }

        &-map {
          img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: pxToRem(24px);

            @media screen and (max-width: 991px) {
              margin-bottom: pxToRem(30px);
            }
          }
        }
      }
    }

    h4 {
      margin-bottom: pxToRem(30px);
    }
  }

  &__footer,
  &__contacts {
    background-color: $grey-dark;
    background-image: url(https://txtrs.ru/textures/marble/marble-11-6.jpg);
    background-blend-mode: color-dodge;
    padding-bottom: pxToRem(80px);

    @media screen and (max-width: 539px) {
      padding: pxToRem(50px) 0;
    }

    &-cols {
      display: flex;
      justify-content: space-between;
    }

    &-copyright {
      > .logo {
        display: block;
        margin-bottom: pxToRem(20px);

        > img {
          height: pxToRem(38px);
        }
      }

      > .copyright {
        > p {
          color: $white;
          font-size: pxToRem(16px);
          line-height: pxToRem(8px);
        }

        > a {
          color: $grey-light;
          font-size: pxToRem(14px);
          font-weight: bold;
          line-height: pxToRem(8px);
          @include transition-default;

          &:hover {
            color: $white;
          }
        }
      }
    }

    &-contacts {
      display: -ms-grid;
      display: grid;
      -ms-grid-column: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
      column-gap: pxToRem(40px);
      height: fit-content;

      @media screen and (max-width: 991px) {
        -ms-grid-column: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
      }

      @media screen and (max-width: 539px) {
        -ms-grid-column: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
      }

      .col {
        border-left: pxToRem(2px) solid $grey-light;

        &.social {
          @media screen and (max-width: 539px) {
            margin-top: pxToRem(30px);
          }
        }

        > li {
          padding-left: pxToRem(20px);
          list-style-type: none;
          font-weight: bold;
          @include font-16;

          a {
            color: $grey-light;

            @media screen and (min-width: 1200px) {
              @include transition-default;

              &:hover {
                color: $white;
              }
            }
          }
        }

        &:not(:last-child) {
          > li {
            &:last-child {
              font-size: pxToRem(14px);
            }
          }
        }
      }
    }
  }

  &__footer {
    padding-top: pxToRem(80px);
  }
}

//Pricelist.
.pricelist {
  margin: 60px 0;
}

//About Page
.about {
  &__wrapper {
    margin-bottom: pxToRem(60px);
  }

  &__inner {
    margin-bottom: pxToRem(60px);
  }

  &__content {
    margin-bottom: 0;
  }

  &__content {
    &-list {
      margin-top: pxToRem(30px);
      margin-bottom: pxToRem(30px);
      padding-left: pxToRem(15px);
      list-style: disc;

      li + li {
        margin-top: pxToRem(10px);
      }
    }
  }

  .singlepage__wrapper {
    margin-bottom: pxToRem(30px);
  }
}

//Works Page.

.works {
  &__items {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: (5rem 2.5rem);

    @media screen and (max-width: 1199px) {
      display: block;
    }
  }

  &__item {
    &-images {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 539px) {
        display: block;
      }

      img {
        border-radius: pxToRem(16px);
        height: 275px;
        width: 100%;

        @media screen and (max-width: 991px) {
          height: 220px;
        }

        @media screen and (max-width: 767px) {
          height: 188px;
        }
      }
    }
  }

  .thumbnail__parent,
  .thumbnail__parent.after {
    position: relative;

    @media screen and (max-width: 1199px) {
      width: 50%;
    }

    @media screen and (max-width: 539px) {
      display: block;
      width: 100%;
    }

    &::before {
      position: absolute;
      top: 15px;
      left: 15px;
      height: 30px;
      width: 60px;
      background-color: $white;
      border-radius: 10px;
      color: $grey-default;
      @include strong-middle;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .thumbnail__parent {
    &::before {
      content: 'До';
    }
  }

  .thumbnail__parent.after {
    margin-left: 40px;

    @media screen and (max-width: 539px) {
      margin-left: 0;
      margin-top: pxToRem(10px);
    }

    &::before {
      content: 'После';
    }
  }

  p {
    margin-top: pxToRem(30px);

    @media screen and (max-width: 991px) {
      font-size: pxToRem(14px);
      line-height: pxToRem(20px);
    }

    @media screen and (max-width: 539px) {
      font-size: pxToRem(12px);
      line-height: pxToRem(14px);
    }
  }

  h4 {
    @media screen and (max-width: 991px) {
      font-size: pxToRem(18px);
      line-height: pxToRem(20px);
    }

    @media screen and (max-width: 539px) {
      font-size: pxToRem(18px);
      line-height: pxToRem(20px);
    }
  }

  li {
    @media screen and (max-width: 1199px) {
      margin-bottom: pxToRem(40px);
    }

    @media screen and (max-width: 991px) {
      margin-bottom: pxToRem(30px);
    }
  }
}

// Single blocks.

.block {
  &__contacts {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    column-gap: pxToRem(40px);
    margin-top: pxToRem(100px);
    height: fit-content;

    .col {
      border-left: pxToRem(2px) solid $grey-light;
      padding-left: pxToRem(25px);

      > li {
        list-style-type: none;
        font-weight: bold;
        @include font-16;

        &:last-child {
          font-size: pxToRem(14px);
        }

        a {
          color: $grey-light;

          @media screen and (min-width: 1200px) {
            @include transition-default;

            &:hover {
              color: $white;
            }
          }
        }
      }
    }
  }

  &__shortly-about {
    &__text {
      background-color: $grey-smog;
      border-radius: pxToRem(30px);
      box-sizing: border-box;
      color: $white;
      text-align: center;
      padding: pxToRem(60px);
      box-shadow: 0 pxToRem(20px) pxToRem(30px) 0 rgb(black, 20%);
      min-width: 100%;

      @include section-offset;

      .btn {
        display: table;
        margin: pxToRem(25px) auto 0;
      }

      @media screen and (max-width: 1023px) {
        padding: pxToRem(25px) pxToRem(30px) pxToRem(30px);
      }

      @media screen and (max-width: 991px) {
        padding: pxToRem(30px) pxToRem(30px) pxToRem(22px);

        .btn {
          display: table;
          margin: pxToRem(13px) auto 0;
        }
      }

      @media screen and (max-width: 539px) {
        padding: pxToRem(25px) pxToRem(25px) pxToRem(18px);
      }
    }
  }

  &__advantages {
    padding-left: 0;
    @include cols-4-with-icons;
    @include section-offset;

    .advantages {
      &__item {
        list-style-type: none;

        .subheading {
          color: $grey-light;
        }
      }
    }
  }

  &__services {
    padding-left: 0;
    @include cols-4;
    @include section-offset;

    .services {
      &__item {
        list-style-type: none;

        > a {
          color: $white;
          text-align: center;
          @include transition-default;

          .thumbnail {
            &__parent {
              border-radius: pxToRem(20px);
              overflow: hidden;
              transform: scale(1);
              margin: 0 auto;
              max-height: pxToRem(199px);
              @include transition-default;

              > img {
                display: block;
                border-radius: pxToRem(20px);
                object-fit: cover;
                width: 100%;
              }
            }
          }

          > h4 {
            margin-top: pxToRem(25px);

            @media screen and (max-width: 991px) {
              margin-top: pxToRem(20px);
            }

            @media screen and (max-width: 539px) {
              margin-top: pxToRem(17px);
            }
          }

          @media screen and (min-width: 1200px) {
            &:hover {
              .thumbnail {
                &__parent {
                  transform: scale(1.05) rotate(2deg);
                  box-shadow: 0 pxToRem(20px) pxToRem(30px) 0 rgb(black, 20%);
                }
              }
            }
          }
        }
      }
    }
  }

  &__doctors {
    padding-left: 0;
    @include cols-4;
    @include section-offset;

    .doctors {
      &__item {
        list-style-type: none;
        text-align: center;

        .thumbnail {
          border: pxToRem(19px) solid $grey-light;
          border-radius: 50%;
          box-sizing: border-box;
          background-color: $white;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          overflow: hidden;
          transform: scale(1);
          margin: 0 auto;
          padding-top: calc(100% - pxToRem(38px));
          height: 0;
          min-height: unset;
          max-height: unset;
          min-width: 100%;
          max-width: 100%;
          @include transition-default;
        }

        > h4 {
          margin-top: pxToRem(25px);

          @media screen and (max-width: 991px) {
            margin-top: pxToRem(20px);
          }

          @media screen and (max-width: 539px) {
            margin-top: pxToRem(17px);
          }
        }

        > .subheading {
          color: $grey-light;
        }

        > a {
          color: $white;
          text-align: center;
          @include transition-default;

          .thumbnail {
            border: pxToRem(19px) solid $grey-light;
            border-radius: 50%;
            box-sizing: border-box;
            background-color: $white;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
            transform: scale(1);
            margin: 0 auto;
            padding-top: calc(100% - pxToRem(38px));
            height: 0;
            min-height: unset;
            max-height: unset;
            min-width: 100%;
            max-width: 100%;
            @include transition-default;
          }

          > h4 {
            margin-top: pxToRem(25px);

            @media screen and (max-width: 991px) {
              margin-top: pxToRem(20px);
            }

            @media screen and (max-width: 539px) {
              margin-top: pxToRem(17px);
            }
          }

          > .subheading {
            color: $grey-light;
          }

          @media screen and (min-width: 1200px) {
            &:hover {
              .thumbnail {
                transform: scale(1.05);
                box-shadow: 0 pxToRem(20px) pxToRem(30px) 0 rgb(black, 20%);
              }
            }
          }

          @media screen and (max-width: 991px) {
            .thumbnail {
              border: pxToRem(16px) solid $grey-light;
              padding-top: calc(calc(100% / 1.1) - pxToRem(32px));
              height: 0;
              min-height: unset;
              max-height: unset;
              min-width: calc(100% / 1.1);
              max-width: calc(100% / 1.1);
            }

            .subheading {
              padding: 0 pxToRem(32px);
            }
          }

          @media screen and (max-width: 539px) {
            .thumbnail {
              border: pxToRem(11px) solid $grey-light;
              padding-top: calc((100% / 2) - pxToRem(22px));
              height: 0;
              min-height: unset;
              max-height: unset;
              min-width: calc(100% / 2);
              max-width: calc(100% / 2);
            }
          }
        }
      }
    }
  }

  &__news {
    padding-left: 0;
    @include cols-4;
    @include section-offset;

    .news {
      &__item {
        list-style-type: none;
        text-align: left;

        > a {
          color: $white;
          @include transition-default;

          .thumbnail {
            &__parent {
              border-radius: pxToRem(20px);
              overflow: hidden;
              transform: scale(1);
              margin: 0 auto;
              max-height: pxToRem(199px);
              @include transition-default;

              > img {
                border-radius: pxToRem(20px);
                object-fit: cover;
                width: 100%;
              }
            }
          }

          > h4 {
            margin-top: pxToRem(20px);

            @media screen and (max-width: 991px) {
              margin-top: pxToRem(13px);
            }

            @media screen and (max-width: 539px) {
              margin-top: pxToRem(11px);
            }
          }

          @media screen and (min-width: 1200px) {
            &:hover {
              .thumbnail {
                &__parent {
                  transform: scale(1.05) rotate(2deg);
                  box-shadow: 0 pxToRem(20px) pxToRem(30px) 0 rgb(black, 20%);
                }
              }
            }
          }
        }
      }

      &__meta {
        margin-top: pxToRem(25px);

        @media screen and (max-width: 991px) {
          margin-top: pxToRem(18px);
        }

        @media screen and (max-width: 539px) {
          margin-top: pxToRem(15px);
        }

        > .subheading {
          color: $grey-light;
        }
      }
    }
  }

  &__trigger {
    &__text {
      position: relative;
      background-color: $grey-smog;
      border-radius: pxToRem(30px);
      box-sizing: border-box;
      color: $white;
      text-align: center;
      padding: pxToRem(60px);
      box-shadow: 0 pxToRem(20px) pxToRem(30px) 0 rgb(black, 20%);
      min-width: 100%;
      min-height: pxToRem(347px);

      .btn {
        display: table;
        margin: pxToRem(25px) auto 0;
      }

      @media screen and (max-width: 1023px) {
        padding: pxToRem(25px) pxToRem(30px) pxToRem(30px);
      }

      @media screen and (max-width: 991px) {
        padding: pxToRem(80px) pxToRem(30px) pxToRem(32px);
        min-height: pxToRem(325px);

        .btn {
          display: table;
          margin: pxToRem(13px) auto 0;
        }
      }

      @media screen and (max-width: 539px) {
        padding: pxToRem(70px) pxToRem(25px) pxToRem(28px);
        min-height: pxToRem(315px);
      }

      .text-group {
        float: right;
        display: block;
        width: 65%;

        @media screen and (max-width: 991px) {
          float: unset;
          display: block;
          width: 100%;
        }

        @media screen and (max-width: 539px) {
          margin: pxToRem(10px) auto;
          max-width: pxToRem(240px);
        }
      }

      .heading__sub {
        color: $grey-light;

        @media screen and (max-width: 539px) {
        }
      }

      [type='tel'] {
        background-color: transparent;
        border: none;
        border-bottom: pxToRem(2px) solid $grey-light;
        box-sizing: border-box;
        font-style: normal;
        font-weight: bold;
        font-size: pxToRem(20px);
        line-height: pxToRem(24px);
        text-align: center;
        padding: pxToRem(10px);
        min-width: pxToRem(428px);
        @include transition-default;

        &::placeholder {
          color: $white;
          @include transition-default;
        }

        &:hover,
        &:focus {
          border-bottom: pxToRem(2px) solid $white;
        }

        &:focus {
          outline: none;
          box-shadow: none;

          &::placeholder {
            color: transparent;
          }
        }

        @media screen and (max-width: 991px) {
          font-size: pxToRem(14px);
          line-height: pxToRem(16px);
          margin-bottom: pxToRem(12px);
        }

        @media screen and (max-width: 539px) {
          font-size: pxToRem(12px);
          line-height: pxToRem(14px);
          margin-bottom: pxToRem(8px);
          min-width: 100%;
        }
      }
    }
  }
}

section {
  .main__container {
    > h2 {
      margin-bottom: pxToRem(60px);

      @media screen and (max-width: 991px) {
        margin-bottom: pxToRem(40px);
      }

      @media screen and (max-width: 539px) {
        margin-bottom: pxToRem(30px);
      }
    }
  }
}

// Mobile navigation.

.mobile {
  &__navi {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $grey-coal;
    transform: translateX(100%);
    min-height: 100vh;
    min-width: 100vw;
    z-index: 99990;
    @include transition-default;
    transition-duration: 0.5s;

    > .main__container {
      display: flex;
      justify-content: space-between;
      flex-flow: column wrap;
      min-height: inherit;
    }

    &.shown {
      transform: translateX(0);
    }

    .top-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: pxToRem(30px);

      @media screen and (max-width: 539px) {
        margin-top: pxToRem(20px);
      }

      .navigation__sub {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: calc(100% - 50px);

        > .lang-menu {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-left: pxToRem(20px);

          > li {
            position: relative;
            list-style-type: none;

            &:not(:last-child) {
              &::after {
                position: relative;
                content: '/';
                color: $grey-smog;
                margin: 0 pxToRem(10px);
              }
            }

            > a {
              color: $white;
              font-weight: bold;
            }

            &:not(.current) {
              > a {
                @include link-pass;
              }
            }

            &.current {
              > a {
                color: $grey-light;
              }
            }
          }
        }
      }
    }

    .navi-wrapper {
      .navigation {
        > ul {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          padding-left: 0;

          > li {
            list-style-type: none;
            margin-right: unset;
            width: 100%;

            &:not(:last-child) {
              border-bottom: pxToRem(2px) solid $grey-smog;
            }

            > a {
              color: $white;
              font-weight: bold;
              display: block;
              padding: pxToRem(18px) 0;

              @media screen and (max-width: 539px) {
                font-size: pxToRem(16px);
              }

              @media screen and (min-width: 540px) and (max-width: 991px) {
                font-size: pxToRem(24px);
              }
            }

            &.dropdown-container {
              position: relative;
              @include transition-default;
              transition-property: border-color;
              transition-delay: 0.6s;

              > button {
                position: absolute;
                right: 0;
                background-color: transparent;
                background-image: url('../../../assets/images/svg/arrow-down.svg');
                background-position: center;
                background-repeat: no-repeat;
                transform: rotateX(0deg);
                @include transition-default;
                padding: 0;

                @media screen and (max-width: 539px) {
                  top: 7px;
                  background-size: pxToRem(12px);
                  height: 40px;
                  width: 40px;
                }

                @media screen and (min-width: 540px) and (max-width: 991px) {
                  top: 9px;
                  background-size: pxToRem(16px);
                  height: 50px;
                  width: 50px;
                }
              }

              .dropdown {
                display: none;
                background-color: $grey-dark;
                border-radius: pxToRem(10px);
                padding-left: 0;

                > li {
                  list-style-type: none;

                  &:not(:last-child) {
                    border-bottom: pxToRem(2px) solid $grey-coal;
                  }

                  > a {
                    color: $white;
                    @include font-btn;
                    font-weight: bold;
                    display: block;
                    padding: pxToRem(18px) 0;
                    width: 100%;
                  }
                }
              }

              &.shown {
                border-color: transparent;
                transition-property: border-color;
                transition-delay: 0s;

                > button {
                  transform: rotateX(180deg);
                }
              }
            }
          }
        }
      }
    }

    .contacts-wrapper {
      .block {
        &__contacts {
          margin-top: unset;

          @media screen and (min-width: 540px) and (max-width: 1023px) {
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: pxToRem(60px);
          }

          @media screen and (max-width: 539px) {
            margin-bottom: pxToRem(30px);
          }

          .col {
            overflow: hidden;

            > li {
              > a {
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }
}
